.section {
    width: 100%;
    height: 80px;
}

.bar-title,.sector-true,.sector-false {
    width: 20%;
    display: inline-block;    
}

.sector-true {
    background: yellow;
}

.sector-true:hover,.sector-false:hover .tool-tip-text {
    visibility: visible;
}

.sector-false:hover {
    background: yellow;
}

.sector-title,.sector-bar {
    display: block;
}

.tool-tip-text {
    visibility: hidden;
    z-index: 1;
    top: -10px;
}

